.swiper-pagination {
  position: static;
  display: flex;
  justify-content: flex-end;
  // height:
  // margin-top:
}

.swiper-pagination-bullet {
  // width:
  height: auto;
  // background-color:
  opacity: inherit;
  // border-radius:
}

.swiper-pagination-bullet-active {
  // background-color:
}