&#contact {
  padding: 8rem 0;

  #main-section {
    #form-container {
      background-color: $color-green;
      border-radius: 3rem;
      padding: 3rem;

      h1 {
        text-align: center;
        margin-top: 0;
      }
    }
  }
}
